In [1]:
import io
import json
import random
import sys
import warnings
from pathlib import Path
from typing import List, Union

import pandas as pd
from seirsplus.models import *

In [134]:
data = pd.read_excel('Tumbe_Migration Data_Excel_Version 1.0_6th April 2020.xlsx', sheet_name= 'UP')
infections = pd.read_excel('Tumbe_Migration Data_Excel_Version 1.0_6th April 2020.xlsx', sheet_name= 'Covid19')

In [135]:
infections = infections[['City Name','Covid19 Cases','Population']].dropna()
infections['% infected'] = infections['Covid19 Cases']/infections['Population']

infections = infections[['City Name','% infected']]
infections = infections.transpose().reset_index(drop=True)

In [136]:
infections.columns = infections.iloc[0]
infections = infections.iloc[1:]

# infections

In [137]:
city_names = infections.columns.to_list()

In [138]:
for i in infections.columns:    
    
    infections = infections.rename(columns={i: "%_infected_"+i})

infections['key'] = 1

In [139]:
data['key'] = 1

data.shape
data = data.merge(infections, on='key', how='left')
data.shape

(70, 19)

(70, 29)

In [140]:
data['Inflow'] = data[city_names].sum(axis=1)

In [141]:
data['initI'] = 0

for i in city_names:
    
    data['initI'] = data['initI'] + data[i] * data['%_infected_'+i]

In [142]:
# data['%_travellers_infected'] = data['total']/data['Inflow']

In [143]:
data = data[['District Name','Total Population Person 2011','Inflow', 'initI']]

In [144]:
unknown_to_known_ratio = 50
data['initI'] = data['initI'] * unknown_to_known_ratio
data = data.rename(columns={'District Name':'district', 'Total Population Person 2011':'Population'})

data['initN'] = data['Population']

In [145]:
data = data[['district', 'Population', 'Inflow', 'initI',
       'initN']]

In [148]:
# data['initI'].sum()

### SEIRS Model

In [149]:
# hide
import io
def get_infections(
    initI: int = 100, initN: int = 10 ** 5, days_N: int = 21, beta: float = 2.4
) -> List[int]:
    model = SEIRSModel(
        beta=beta,
        sigma=1 / 5.2,
        gamma=1 / 12.39,
        initN=initN,
        initI=initI,
        beta_D=0.000,
        mu_D=0.02,
        #         sigma_D=1 / 4.0,
        #         gamma_D=1 / 9.0,
        theta_E=0.0002,
        theta_I=0.002,
        psi_E=0.2,
        psi_I=1.0,
    )
    model.run(T=days_N)
    S = model.numS  # time series of S counts
    E = model.numE  # time series of E counts
    I = model.numI  # time series of I counts
    D_E = model.numD_E  # time series of D_E counts
    D_I = model.numD_I  # time series of D_I counts
    R = model.numR  # time series of R counts
    F = model.numF  # time series of F counts
    t = model.tseries  # time values corresponding to the above time series
    return {"detected_exposed": D_E, "detected_infected": D_I, "model": model, "t": t}

In [150]:
def get_risk_estimates(
    assam_estimated_df: pd.DataFrame, beta: float
) -> Union[List, List]:
    days_N = 21
    atrisk_day14, atrisk_day21 = [], []
    for row in assam_estimated_df[["initI", "initN", "district"]].iterrows():
        initI, initN, district = row[1][0], int(row[1][1]), row[1][2]
        #     print(type(initI), type(initN))
        infection_results = get_infections(
            initI=initI, initN=initN, days_N=days_N, beta=beta
        )
        detected_infected = infection_results["detected_infected"]
        day14 = int(14 * len(detected_infected) / days_N)
        case_count_day14 = int(infection_results["detected_infected"][day14])
        case_count_day21 = int(infection_results["detected_infected"][-1])
        atrisk_day14.append(case_count_day14)
        atrisk_day21.append(case_count_day21)
    return atrisk_day14, atrisk_day21, infection_results

In [151]:
data['initI'] = data['initI'].astype(int)
data[f"day14"],data[f"day21"],infection_results = get_risk_estimates(data, beta=2.4)

t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90
t = 20.90

In [152]:
data.to_excel('seirsplus_up_covid_trend_analysis.xlsx', index=0)

In [153]:
data.sort_values(by='day21', ascending=False)

               district  Population  Inflow  initI    initN  day14  day21
63              Jaunpur     4494204  140550    298  4494204    911  12998
60             Azamgarh     4613913  109012    232  4613913    720  11892
44            Allahabad     5954391   79533    157  5954391    499  11188
57            Gorakhpur     4440895   89145    165  4440895    519   9956
66             Varanasi     3676841   68885    130  3676841    410   8045
42           Pratapgarh     3209141   59500    120  3209141    377   7217
10          Bulandshahr     3499171   61478    105  3499171    333   7044
48            Sultanpur     3797117   51470     90  3797117    287   6726
54                Basti     2464464   62372    138  2464464    426   6652
11              Aligarh     3673889   50756     86  3673889    275   6462
52                Gonda     3433919   39590     84  3433919    268   6191
53      Siddharth Nagar     2559297   42682    102  2559297    320   5934
8             Ghaziabad     4681645   37474     64  4681645    206   5921
6                Meerut     3443689   44839     75  3443689    240   5812
14                 Agra     4418797   41492     63  4418797    203   5745
64             Ghazipur     3620268   35499     70  3620268    224   5697
59               Deoria     3100946   38890     74  3100946    236   5514
26              Lucknow     4589838   30462     52  4589838    168   5111
33               Kanpur     4581268   32396     50  4581268    162   4970
16                 Etah     3211199   35632     60  3211199    192   4950
46             Faizabad     2470996   39607     64  2470996    204   4598
2                Bijnor     3682713   27682     49  3682713    158   4574
1         Muzaffarnagar     4143512   26168     43  4143512    139   4338
18               Badaun     3681896   25533     44  3681896    142   4253
3             Moradabad     4772006   22816     39  4772006    126   4198
62               Ballia     3239774   29799     44  3239774    142   4079
27           Rae Bareli     3405559   23168     40  3405559    129   3888
19             Bareilly     4448359   20535     35  4448359    113   3803
13              Mathura     2547184   22352     36  2547184    116   3292
61       Maunathbhanjan     2205968   19492     39  2205968    125   3287
..                  ...         ...     ...    ...      ...    ...    ...
68             Mirzapur     2496970   10645     20  2496970     64   2164
47       Ambedkar Nagar     2397888   10467     20  2397888     64   2142
17             Mainpuri     1868529   14042     22  1868529     71   2137
32         Kanpur Dehat     1796184   10663     21  1796184     67   2044
49             Bahraich     3487731    7456     16  3487731     52   1943
56          Maharajganj     2684703    7815     17  2684703     55   1942
0            Saharanpur     3466382    9860     16  3466382     52   1941
39                Banda     1799410   15381     17  1799410     55   1761
15            Firozabad     2498156    9880     15  2498156     48   1732
35               Jhansi     1998603    9698     16  1998603     51   1731
4                Rampur     2335819    7500     13  2335819     42   1524
45            Barabanki     3260699    7350     12  3260699     39   1508
21         Shahjahanpur     3006538    7009     12  3006538     39   1490
9   Gautam Buddha Nagar     1648115    7461     12  1648115     39   1328
23              Sitapur     4483992    4208      8  4483992     26   1086
34               Jalaun     1689974    4980      8  1689974     26    966
29              Kannauj     1656616    4878      8  1656616     26    962
12              Hathras     1564708    5191      8  1564708     26    953
38               Mahoba      875958    5724      9   875958     29    910
5   Jyotiba Phule Nagar     1840221    4453      7  1840221     22    875
37             Hamirpur     1104285    4609      6  1104285     19    706
65            Chandauli     1952756    2847      5  1952756     16    657
31              Auraiya     1379545    2999      5  1379545     16    629
20             Pilibhit     2031007    2052      3  2031007      9    413
22      Lakhimpur Kheri     4021243    1102      2  4021243      6    288
43            Kaushambi     1599596    1284      2  1599596      6    278
40           Chitrakoot      991730    1717      2   991730      6    269
69            Sonbhadra     1862559     854      1  1862559      3    143
36             Lalitpur     1221592    1069      1  1221592      3    141
50            Shravasti     1117361     706      1  1117361      3    141

[70 rows x 7 columns]